//block content
//    h1 Student Detail
//    a(href="/") Home
//    table
//        tr
//            th Firstname
//            th Lastname
//            th Email
//            tr
//                td=student.firstName
//                td=student.lastName
//                td=student.email
//                
block content
    h1 Add new student
    a(href="/") Home
    form(action=`/students/update/${student._id}` method="POST")
        label First Name
        br
        input(name="firstName" value=student.firstName type="text")
        br
        label Last Name
        br
        input(name="lastName" value=student.lastName type="text") 
        br
        label Email
        br
        input(name="email" value=student.email type="text")
        br
        input(type="submit")
        
        console.log(student)