<!DOCTYPE html>
<html>
<title>imarya - Vancouver kids Clothing</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style/w3.css">
<link rel="stylesheet" href="style/style.css" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="icon" href="icon/linkLogo.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="script/script.js" type="text/javascript"></script>


<body class="w3-content" style="max-width:2000px;min-width: 320px;">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
        <div class="w3-container w3-display-container w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
            <h3 class="w3-wide w3-center">
                <b>
                    <a href="#">
                        <img src="icon/GirraffeText.png" width="100">
                    </a>
                </b>
            </h3>
        </div>
        <div class="w3-large w3-text-grey">
            <a onclick="userLoginBtn()" class="w3-bar-item w3-button userLoginBtn">
                <% if(userLoginInfo){ %>
                    <span class="w3-center">Hello,
                        <%= userLoginInfo.displayName; %>
                    </span>

                    <%    }else{ %>
                        <i class="fa fa-user"></i>
                        <span class="w3-margin-left">User Login</span>
                        <% }  %>


            </a>
        </div>
        <div id="navCategoryLink" class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
            <a href="/" class="w3-bar-item w3-button  w3-block logoBlueBG">
                <i class="fa fa-caret-right w3-margin-right"></i>Home</a>
            <a href="#" class="w3-bar-item w3-button">
                <i></i>New Arrivals</a>
            <a href="#" class="w3-bar-item w3-button">
                <i></i>Snacks</a>

            <!-- acc -->
            <a onclick="navAccDisplay()" href="javascript:void(0)" class="w3-button w3-left-align" id="myBtn">
                <i></i>Clothing
                <div class="w3-margin-left" style="display: inline-block;">
                    <i class="fa fa-caret-down"></i>
                </div>
            </a>
            <div id="navAccList" class="w3-bar-block w3-hide w3-padding-large w3-medium">
                <a href="#" id="5a9c65ddb5d096142c8d4df0" class="w3-bar-item w3-button" onclick="navOnClick(this.id)">
                    <i></i>Hot</a>
                <a href="#" class="w3-bar-item w3-button">
                    <i></i>Boy</a>
                <a href="#" class="w3-bar-item w3-button">
                    <i></i>Girl</a>
            </div>


            <a href="#" class="w3-bar-item w3-button">Baby Skin Care</a>
            <a href="#" class="w3-bar-item w3-button">Accessory</a>
            <a href="#" class="w3-bar-item w3-button">Shoes</a>
        </div>
        <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a>
        <a href="#footer" class="w3-bar-item w3-button w3-padding">Subscribe</a>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-bar w3-top w3-hide-large w3-white w3-xlarge">
        <div class="w3-bar-item w3-padding-24 w3-wide imaryaLogo">
            <img src="icon/GirraffeText.png" width="70px"> </div>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()">
            <i class="fa fa-bars"></i>
        </a>
        <button onclick="checkLoginForBtn('shoppingCart')" class="w3-bar-item w3-button w3-padding-24 w3-right">
            <i class="fa fa-shopping-cart"></i>
        </button>
        <!-- <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right">
            <i class="fa fa-search"></i>
        </a> -->

    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <!-- Top header -->

        <header class="w3-container w3-xlarge headerText">
            <p class="w3-left w3-text-grey">Home</p>
            <button onclick="checkLoginForBtn('shoppingCart')" class="w3-bar-item w3-button w3-padding-24 w3-right hide-small">
                <i class="fa fa-shopping-cart" id="shoppingCartIcon"></i>
            </button>
            <!-- <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right hide-small">
                <i class="fa fa-search"></i>
            </a> -->
        </header>



        <!--slideshow-->
        <div class="w3-content w3-display-container" style="position: relative;">
            <div class="mainSlideDiv">
                <div class="cd-slider">
                    <ul>
                        <li>
                            <div class="image" style="background-image:url(https://images.unsplash.com/photo-1421809313281-48f03fa45e9f?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>
                            <div class="content">
                                <h2>Jackets Collection 2017</h2>
                                <a href="#">View Gallery</a>
                            </div>
                        </li>
                        <li>
                            <div class="image" style="background-image:url(https://images.unsplash.com/uploads/1411724908903377d4696/2e9b0cb2?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>
                            <div class="content">
                                <h2>Accessories</h2>
                                <a href="#">View Gallery</a>
                            </div>
                        </li>
                        <li>
                            <div class="image" style="background-image:url(https://images.unsplash.com/photo-1416838375725-e834a83f62b7?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>
                            <div class="content">
                                <h2>Winter Shoes</h2>
                                <a href="#">View Gallery</a>
                            </div>
                        </li>
                        <li>
                            <div class="image" style="background-image:url(https://images.unsplash.com/35/JOd4DPGLThifgf38Lpgj_IMG.jpg?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>
                            <div class="content">
                                <h2>Winter Collection 2017</h2>
                                <a href="#">View Gallery</a>
                            </div>
                        </li>
                        <li>
                            <div class="image" style="background-image:url(https://images.unsplash.com/photo-1453974336165-b5c58464f1ed?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>
                            <div class="content">
                                <h2>Summer Collection</h2>
                                <a href="#">View Gallery</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="w3-container w3-text-grey" id="totalItemFound">
            <p>8 items</p>
        </div>

        <!-- Product grid -->


        <div id="productGrid" class="productGridClass w3-container" data-columns>


            <% for (var i = 0; i < products.length; i++) {
            var price = products[i].price.split(".");
        %>
                <div class="w3-card-4">
                    <div class="w3-display-container w3-text-white">
                        <a id="<%= products[i]._id %>" onclick="productOnClick(this.id)">
                            <img src="img/<%= products[i].img %>" style="width: 100%">
                        </a>
                    </div>
                    <div class="productRowInfo">
                        <div class="w3-padding-small">
                            <p class="productPrice">
                                <span class="w3-xlarge">
                                    $
                                    <%= price[0] %>
                                        <span class="w3-small">.
                                            <%= price[1] %>
                                        </span>
                                </span>
                            </p>
                            <p class="productNameOnHomePage">
                                <%= products[i].productName %>
                            </p>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>

        <!-- Subscribe section -->
        <!--
<div class="w3-container w3-black w3-padding-32">
    <h1>Subscribe</h1>
    <p>To get special offers and VIP treatment:</p>
    <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
    <button type="button" class="w3-button w3-red w3-margin-bottom">Subscribe</button>
</div>
-->

        <!-- Footer -->
        <footer class="w3-padding-64 w3-small w3-center .lightGreyBG" id="footer">
            <div class="w3-row-padding">
                <div class="w3-col s4">
                    <h4>Contact</h4>
                    <p>Questions? Go ahead.</p>
                    <form action="/action_page.php" target="_blank">
                        <p>
                            <input class="w3-input w3-border" type="text" placeholder="Name" name="Name" required>
                        </p>
                        <p>
                            <input class="w3-input w3-border" type="text" placeholder="Email" name="Email" required>
                        </p>
                        <p>
                            <input class="w3-input w3-border" type="text" placeholder="Subject" name="Subject" required>
                        </p>
                        <p>
                            <input class="w3-input w3-border" type="text" placeholder="Message" name="Message" required>
                        </p>
                        <button type="submit" class="w3-button w3-block w3-black">Send</button>
                    </form>
                </div>

                <div class="w3-col s4">
                    <h4>About</h4>
                    <p>
                        <a href="#">About us</a>
                    </p>
                    <p>
                        <a href="#">We're hiring</a>
                    </p>
                    <p>
                        <a href="#">Support</a>
                    </p>
                    <p>
                        <a href="#">Find store</a>
                    </p>
                    <p>
                        <a href="#">Shipment</a>
                    </p>
                    <p>
                        <a href="#">Payment</a>
                    </p>
                    <p>
                        <a href="#">Return</a>
                    </p>
                    <p>
                        <a href="#">Help</a>
                    </p>
                </div>


                <div class="w3-col s4 w3-justify">
                    <h4>Store</h4>
                    <p>
                        <i class="fa fa-fw fa-map-marker"></i> Company Name</p>
                    <p>
                        <i class="fa fa-fw fa-phone"></i> 0044123123</p>
                    <p>
                        <i class="fa fa-fw fa-envelope"></i> ex@mail.com</p>
                    <h4>We accept</h4>
                    <p>
                        <i class="fa fa-fw fa-paypal"></i> Paypal</p>
                    <p>
                        <i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
                    <br>
                    <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
                    <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
                    <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
                    <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
                    <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
                    <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
                </div>
            </div>
        </footer>

        <div class="w3-black w3-center w3-padding-24">Powered by
            <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">Imarya</a>
        </div>

        <!-- End page content -->
    </div>

    <!-- Newsletter Modal -->
    <div id="newsletter" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
            <div class="w3-container w3-white w3-center">
                <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
                <h2 class="w3-wide">NEWSLETTER</h2>
                <p>Join our mailing list to receive updates on new arrivals and special offers.</p>
                <p>
                    <input class="w3-input w3-border" type="text" placeholder="Enter e-mail">
                </p>
                <button type="button" class="w3-button w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
            </div>
        </div>
    </div>


    <!--   Add to Cart Modal ******************-->
    <div id="ProductDetail" class="w3-modal">
        <div class="w3-modal-content productDetailContent">
            <div class="cartModalLoading" id="cartModalLoading">
                <div class="loader" id="loader"></div>
            </div>
            <div class="productInfoDiv">
                <div class="w3-row productInfoHeader w3-xlarge">
                    <div class="w3-col l11 m11 s10 productInfoName" id="productInfoName">Product Name</div>
                    <a onclick="document.getElementById('ProductDetail').style.display='none'" class="w3-col l1 m1 s2 productX logoPink">
                        <i class="fa fa-remove"></i>

                    </a>
                </div>
                <img id="cartModalImg" src="/img/ng-55633.jpg">
                <div class="w3-row">
                    <div class="w3-col l6 m6 s6">
                        <h6>Description</h6>
                    </div>

                    <div class="w3-col l6 m6 s6" style="text-align:right;">
                        <h5 class="w3-margin-right">
                            <span class="w3-large logoPink" id="cartModalPrice0">
                                price 0

                            </span>
                            <span class="w3-small logoPink" id="cartModalPrice1">. price 1
                            </span>
                        </h5>
                    </div>
                </div>

                <p id="cartModalDescription">Product description</p>

                <form class="w3-container" id="addToCartForm">
                    <input type="text" name="productId" id="addToCartFormProductId" value="" style="display: none">
                    <input type="text" name="productQtyId" id="addToCartFormProductQtyId" style="display: none">

                    <select class="w3-select" name="color" id="modalProductColorOption" required>
                        <option value="" disabled selected>Color</option>

                    </select>

                    <select class="w3-select" name="size" id="modalProductSizeOption" required>
                        <option value="" disabled selected>Size</option>
                    </select>

                    <select class="w3-select" name="qty" id="modalProductQuantityOption" required disabled>
                        <option value="" disabled selected>Quantity</option>
                    </select>

                    <button class="w3-btn w3-margin-top productDetailBtn logoPinkBG" id="modalAddToCart">Add To Cart</button>
                </form>
                <div class="w3-padding">
                    <button class="w3-btn productDetailBtn logoPinkBG">Check Out</button>
                </div>
            </div>

        </div>



    </div>



    <!--   Shopping Cart Modal ******************-->
    <div id="shoppingCart" class="w3-modal">
        <div class="w3-modal-content scContent">
            <div class="scContainer">
                <div class="scHeader whiteBG">
                    <span onclick="document.getElementById('shoppingCart').style.display='none'" class="w3-button w3-display-topright">
                        <i class="fa fa-remove w3-xlarge"></i>
                    </span>
                    <div class="w3-bar" style="width: 100%;">
                        <button class="w3-bar-item w3-button w3-border-top" onclick="openCity('London')">Cart</button>
                        <button class="w3-bar-item w3-button w3-border-right  w3-grey" onclick="openCity('Paris')">History</button>
                    </div>
                </div>

                <div class="scList greyBG">


                </div>
                <div class="scCheckoutFooter whiteBG">
                    <div class="w3-col s6">
                        <div class="scCheckoutPriceContent">
                            <h6>Total</h6>
                            <h3 class="logoPink" id="shoppingCartTotal">$</h3>
                        </div>

                    </div>
                    <div class="w3-col s6">
                        <a href="./Checkout" class="w3-btn scCheckoutBtnC w3-round-xlarge logoPinkBG">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    Modal ******************-->

    <!--   User Modal ******************-->
    <div id="userLogin" class="w3-modal">

        <div class="w3-modal-content loginPageContent">
            <div class="userInfo">
                <span onclick="document.getElementById('userLogin').style.display='none'" class="w3-button w3-display-topright fa fa-remove w3-xlarge"></span>
                <h3>Login and Security</h3>
                <div class="w3-card userInfoCard">
                    <% if(userLoginInfo){ 
                            let email = 'n/a';
                            let phoneNumber = "n/a";
                            if(userLoginInfo.email){
                                email = userLoginInfo.email;
                            }  
                            if(userLoginInfo.phoneNumber){
                                phoneNumber = userLoginInfo.phoneNumber;
                            }    
                    %>
                        <ul class="w3-ul">
                            <li class="userInfoEdit">
                                <div class="userInfoDisplay">
                                    <h5>Name</h5>
                                    <p>
                                        <%= userLoginInfo.displayName; %>
                                    </p>
                                </div>
                            </li>
                            <li class="userInfoEdit">
                                <div class="userInfoDisplay">
                                    <h5>Email</h5>
                                    <p>
                                        <%= email; %>
                                    </p>
                                </div>
                            </li>
                            <li class="userInfoEdit">
                                <div class="userInfoDisplay">
                                    <h5>Address</h5>
                                    <p></p>
                                </div>
                                <div>
                                    <a class="w3-btn scCheckoutBtnC w3-round-xlarge logoPinkBG userInfoEditBtn" href="./login/editContactInfo">Edit</a>
                                </div>
                            </li>
                        </ul>
                        <% } %>
                </div>
                <br>
                <a class="w3-btn logoPinkBG logoutBtn" href="./login/logout">Logout</a>
            </div>
            <div class="w3-container loginPage">
                <span onclick="document.getElementById('userLogin').style.display='none'" class="w3-button w3-display-topright fa fa-times"></span>

                <h3>Sign Up With</h3>
                <div class="w3-row" style="width: 80%; margin: auto;">
                    <a class="w3-col s4 w3-center" href="/login/google-login">
                        <img style="width: 60%;" class="w3-circle" src="icon/Google-plus-circle-icon-png.png">
                    </a>
                    <a class="w3-col s4 w3-center">
                        <img style="width: 60%" class="w3-circle" src="icon/wechatLogo.svg">
                    </a>
                    <a class="w3-col s4 w3-center" href="/login/facebook-login">
                        <img style="width: 60%;" class="w3-circle" src="icon/Facebook-Home-Logo.png">
                    </a>
                </div>
            </div>

        </div>
    </div>

    <!--    Modal ******************-->

    <script>
        // Accordion in menu
        function navAccDisplay() {
            var x = document.getElementById("navAccList");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        // Click on the link on page load to open the accordion for
        document.getElementById("myBtn").click();


        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }


    </script>

    <script>
        //slide show

        (function () {

            function init(item) {
                var items = item.querySelectorAll('li'),
                    current = 0,
                    autoUpdate = true,
                    timeTrans = 4000;

                //create slideShowNav
                var slideShowNav = document.createElement('slideShowNav');
                slideShowNav.className = 'slideShowNav_arrows';

                //create button prev
                var prevbtn = document.createElement('button');
                prevbtn.className = 'prev';
                prevbtn.setAttribute('aria-label', 'Prev');

                //create button next
                var nextbtn = document.createElement('button');
                nextbtn.className = 'next';
                nextbtn.setAttribute('aria-label', 'Next');

                //create counter
                var counter = document.createElement('div');
                counter.className = 'counter';
                counter.innerHTML = "<span>1</span><span>" + items.length + "</span>";

                if (items.length > 1) {
                    slideShowNav.appendChild(prevbtn);
                    slideShowNav.appendChild(counter);
                    slideShowNav.appendChild(nextbtn);
                    item.appendChild(slideShowNav);
                }

                items[current].className = "current";
                if (items.length > 1) items[items.length - 1].className = "prev_slide";

                var slideShowNavigate = function (dir) {
                    items[current].className = "";

                    if (dir === 'right') {
                        current = current < items.length - 1 ? current + 1 : 0;
                    } else {
                        current = current > 0 ? current - 1 : items.length - 1;
                    }

                    var nextCurrent = current < items.length - 1 ? current + 1 : 0,
                        prevCurrent = current > 0 ? current - 1 : items.length - 1;

                    items[current].className = "current";
                    items[prevCurrent].className = "prev_slide";
                    items[nextCurrent].className = "";

                    //update counter
                    counter.firstChild.textContent = current + 1;
                }

                item.addEventListener('mouseenter', function () {
                    autoUpdate = false;
                });

                item.addEventListener('mouseleave', function () {
                    autoUpdate = true;
                });

                setInterval(function () {
                    if (autoUpdate) slideShowNavigate('right');
                }, timeTrans);

                prevbtn.addEventListener('click', function () {
                    slideShowNavigate('left');
                });

                nextbtn.addEventListener('click', function () {
                    slideShowNavigate('right');
                });

                //keyboard slideShowNavigation
                document.addEventListener('keydown', function (ev) {
                    var keyCode = ev.keyCode || ev.which;
                    switch (keyCode) {
                        case 37:
                            slideShowNavigate('left');
                            break;
                        case 39:
                            slideShowNavigate('right');
                            break;
                    }
                });

                // swipe slideShowNavigation
                // from http://stackoverflow.com/a/23230280
                item.addEventListener('touchstart', handleTouchStart, false);
                item.addEventListener('touchmove', handleTouchMove, false);
                var xDown = null;
                var yDown = null;

                function handleTouchStart(evt) {
                    xDown = evt.touches[0].clientX;
                    yDown = evt.touches[0].clientY;
                };

                function handleTouchMove(evt) {
                    if (!xDown || !yDown) {
                        return;
                    }

                    var xUp = evt.touches[0].clientX;
                    var yUp = evt.touches[0].clientY;

                    var xDiff = xDown - xUp;
                    var yDiff = yDown - yUp;

                    if (Math.abs(xDiff) > Math.abs(yDiff)) { /*most significant*/
                        if (xDiff > 0) {
                            /* left swipe */
                            slideShowNavigate('right');
                        } else {
                            slideShowNavigate('left');
                        }
                    }
                    /* reset values */
                    xDown = null;
                    yDown = null;
                };


            }

            [].slice.call(document.querySelectorAll('.cd-slider')).forEach(function (item) {
                init(item);
            });

        })();
    </script>


    <!-- Salvattore.js must place at the end -->
    <script src="script/Salvattore.js" type="text/javascript"></script>
</body>

</html>